  <div class="users-title">
    <h2>All Friends</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      <% unless @user_friends.empty? %>
        <% @user_friends.each do |f| %>
          <tr>
            <td><%= f.name %></td>
            <td><%= f.email %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>