  <div class="users-title">
    <h2>Requested Friends</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% unless @requested_friends.empty? %>
        <% @requested_friends.each do |f| %>
          <tr class =<%="friend-#{f.id}"%>>
            <td><%= f.name %></td>
            <td><div class="accept">
                  <%= link_to 'Accept',
                            accept_friend_request_path(value: 'accept', id: f.id),
                            remote: true,
                            method: :put,
                            id: "accept-request-btn-#{f.id}",
                            class: 'btn btn-success' %>
                </div>

                <div>
                  <%= link_to 'Decline',
                            accept_friend_request_path(value: 'decline', id: f.id),
                            remote: true,
                            method: :put,
                            id: "decline-request-btn-#{f.id}",
                            class: 'btn btn-danger' %>
                </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>