<main role="main">
  <div class="users-title">
    <h2>All App users</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Provider</th>
      </tr>
    </thead>
    <tbody>
      <% if @users.any? %>
        <% @users.each do |f| %>
          <tr>
            <td><%= f.name %></td>
            <td><%= f.email %></td>
            <td><%= f.provider %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</main>