<main role="main">
  <div class="users-title">
    <h2>All App users</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Requests</th>
      </tr>
    </thead>
    <tbody>
      <% if @users.any? %>
        <% @users.each do |f| %>
          <tr>
            <td><%= f.name %></td>
            <td><%= f.email %></td>
            <% if check_friendship?(f.id) %>
                <td><div class="btn btn-success">Friend</div></td>
            <% elsif check_in_requested_list?(f.id) %>
                <td><div class="btn btn-info">Request was sent</div></td>
            <% else %>
                <td><%= link_to 'Send friend request',
                                friend_request_path(id: f.id),
                                remote: true,
                                method: :post,
                                id: "friend-request-btn-#{f.id}",
                                class: 'btn btn-secondary' %>
                </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</main>