<main role="main">
  <div class="users-title">
    <h2>All App users</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Requests</th>
      </tr>
    </thead>
    <tbody>
      <% if @users.any? %>
        <% @users.each do |f| %>
          <tr>
            <td><%= f.name %></td>
            <td><%= f.email %></td>
            <td><%= link_to 'Send friend request',
                        friend_request_path(value: f.name),
                        remote: true,
                        method: :post,
                        id: 'friend-request-btn',
                        class: 'btn btn-secondary' %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</main>