<div>
  <%= form_tag share_file_path(share_file_id: share_file_id), method: :get, id: 'limit_form', remote: true do %>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <%= submit_tag 'Share with', name: nil, class: 'btn btn-outline-secondary' %>
      </div>

      <div>
        <%= select_tag 'friend_id', options_from_collection_for_select(current_user.friends, :id, :name),
                       prompt: 'Choose...',
                       class: 'custom-select' %>
      </div>
      <div id="file-share-<%=share_file_id%>" class="input-group-text"></div>
    </div>

  <% end %>
</div>