<div class="bd-example bd-example-tabs">
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <div> <%= link_to 'Dropbox file list', dropbox_files_path, class: 'btn btn-secondary' %> </div><br>
      </div>
    </div>
</div>
</div>